html,body {font-family: "微软雅黑"; background-color:#f0f0f0;}
body {color: #2f332a;font: 15px/21px Arial, Helvetica, simsun, sans-serif;background: #f0f6e4 \9;}

li {list-style: circle;font-size: 12px;}
li.title {list-style: none;}
ul.list {margin-left: 17px;}

#treeDemo a {color:#777777;}
#treeDemo a:hover{background-color:#F0F0F0;}
#treeDemo .tree-a-active{background-color:#F0F0F0;}

@media only screen and (max-width:1190px) {.main {width:1000px;}} 
@media only screen and (min-width:1200px ) {.main {width:65%;}}
.main { margin: auto;}

.main div.left{float: left; width:24%; margin-top:20px;height:562px;}
.main div.right{border: 1px solid #CCCCCC;float: right; width:74%; margin-left: 2%; margin-top: 30px;  padding: 10px; height: 700px;background-color: #FFFFFF;}

.right .table-box {width: 100%;overflow-y:scroll; height: 630px;}
.right .btn-box {width:100%; height: 70px; border-top: 1px solid #F0F0F0;}
.right .btn-box button {margin: 12px 0px 0px 0px;}

div.zTreeDemoBackground {width:100%;height:362px;text-align:left;}

ul.ztree {height:700px;margin-top: 10px; border: 1px solid #CCCCCC;background: #FFFFFF;width:100%;overflow-y:scroll;overflow-x:auto;}
.main .right table thead tr td{color: #737373;font-weight: 600; background-color: #F0F0F0; text-align: center;}
.td1, .td3{text-align: center;}

#treeDemo a .delete {height: 16px; width: 30px; font-size: 12px; background-color: #FFFFFF; color: #FFFFFF;}
.delete:hover { background-color:#f0f0f0;color: #737373;}
.ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}
.nullwidth {height: 12px; width: 50px;}

