/****总体样式 *****/
img {vertical-align:top; border:0;page-break-inside:avoid;max-width:100% !important; }
html, body{  margin: 0; padding: 0; min-width: 100%; width:100%; min-height:100%; height: 100%;  font-size:100%; background: #FFFFFF; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100% }
/****总体样式@end*****/



#bookroom_searchresult {font-family: "微软雅黑";}

/********主体内容*******/		
#bookroom_searchresult .main {width: 1200px; margin: auto; min-height: 600px;}

/******书单列表******/
#bookroom_searchresult .book-block {width: 100%; height: 180px; float: left; padding: 15px 15px 15px 0px;  border-bottom: 1px dashed #31B0D5;}
#bookroom_searchresult .book-block img {float: left; margin-right: 15px; height: 150px;}
#bookroom_searchresult .book-block .book-info-box {float: right; width: 1060px;}
#bookroom_searchresult .book-block .book-info-box .bookname {font-size: 20px; color: #0d99ca; margin-bottom: 3px;}
#bookroom_searchresult .book-block .book-info-box .writer {font-size: 16px; color: #0d99ca;}
#bookroom_searchresult .book-block .book-info-box .bookinfo {font-size: 14px;margin-top: 18px; margin-bottom: 18px; height: 37px; }
#bookroom_searchresult .book-block .book-info-box .tips {font-size: 14px;padding: 3px 30px; background-color: #b8e7f6; margin-right: 10px; text-decoration: none; color: #000000;}
/******书单列表 @end******/

/********主体内容 @end*******/	
			
/*******底部导航条*******/
#bookroom_searchresult .bottomnav {width: 100%; height: 222px; background-color: #2EBEFF; padding-top: 44px; margin-top: 50px;}
#bookroom_searchresult .bottomnav .whiteline {width: 1200px; margin: auto; height: 2px; background-color: #FFFFFF; margin-bottom: 15px;}
#bookroom_searchresult .bottomnav p {text-align: center; margin-bottom: 10px;}
#bookroom_searchresult .bottomnav p a {text-decoration: none;color: #000000; font-size: 14px; margin-right: 20px;}
/*******底部导航条 @end*******/
