/****书本封面轮换样式 *****/
/*
a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,center, canvas, caption, cite, code, command,datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,i, iframe, img, ins,kbd, keygen,
label, legend, li, meter,nav,object, ol, output,p, pre, progress,q, s, samp, section, small, span, source, strike, strong, sub, sup,table, tbody, tfoot, thead, th, tr, tdvideo, tt,u, ul, var{  /*background: transparent;*/ border: 0 none; font-size: 100%; margin: 0; padding: 0; border: 0; outline: 0; vertical-align: top; behavior:url("Style/csshover3.htc"); /*public 在IE6中只兼容a:hover 放肆的用:hover属性吧.几乎支持任何div 例如： body{behavior:url("csshover3.htc"); }*/ }*/

mark, rp, rt, ruby, summary, time{ display: inline }
 ul {list-style: none;padding:0px;margin:0px;outline: 0;}
img {vertical-align:top; border:0;page-break-inside:avoid;max-width:100% !important; }
a{text-decoration:none;text-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.2);}
a:hover,a:active{outline:0}
a,a:visited{text-decoration:none}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
a:hover,a:focus{text-decoration:underline}
html, body{  margin: 0; padding: 0; min-width: 100%; width:100%; min-height:100%; height: 100%;  font-size:100%; background: #FFFFFF; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100% }

/*===== gallery begin =====*/
#gallery {margin:0 auto;height:290px;overflow:hidden; z-index:1; padding-top:0px;}
.container_image{margin:0 auto;position:relative;width:100%;font-size:.8125em;}	
/*===== gallery end =====*/
.roundabout-holder{width:600px;height:290px;margin:0 auto;}
.roundabout-moveable-item {width: 180px;height: 260px;cursor: pointer;}/*边框以及圆角效果 border:3px solid #ccc;border:3px solid rgba(0, 0, 0, 0.08);border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;*/
.roundabout-moveable-item img{width:100%;}
.roundabout-in-focus {border:3px solid rgba(0, 0, 0, 0.2);}/*边框以及圆角效果 */
/****书本封面轮换样式 @end*****/


#bookroom {font-family: "微软雅黑";}
#bookroom .header{height:35px; width:100%; border-bottom: 2px solid #93e1fa; padding: 5px 0px 0px 0px;}
#bookroom .header .header-center {margin: auto;width: 1200px;}
#bookroom .header a {font-size: 18px; color: #000000; margin-left: 60px; text-decoration: none;}
#bookroom .header a:hover{color: #93E1FA;}
#bookroom .header .frist {margin-left: 446px;}
#bookroom .header .login {margin-left: 250px;}
#bookroom .header-banner{height:85px; width:1200px; margin: auto;}
#bookroom .header-banner img{margin-top: 8px;}
			
/********搜索框********/
#bookroom .search-box {height: 100%;width:400px;float: right; padding: 25px 0px 0px 0px;}
#bookroom .search-box .input-group {width: 330px; float: left;}
#bookroom .search-box .input-group .form-control{border-radius: 0px;}
#bookroom .search-box .radio{height: 20px; margin-bottom: 0px; margin-top: 35px;}
#bookroom .search-box label{font-size: 14px; margin: 0px 15px 0px 5px; font-weight: 600;}
#bookroom .search-box .dropdown-menu {min-width: 95px;}
#bookroom .searchbtn {width: 70px; float: right;border-radius: 0px 4px 4px 0px; border-left: 0px;}
#bookroom .search-box .dropdown-menu .divider {height: 1px; margin: 0px;}
/********搜索框 @end********/
			
#bookroom .bookclassified {height: 37px; width: 100%; background: url(../img/nav_BKG.jpg)}
#bookroom .bookclassified-center {width: 1200px; margin: auto; padding: 5px 0px 0px 0px;}			
#bookroom .bookclassified-center a {color: #FFFFFF; text-decoration: none; float: left;}
#bookroom .bookclassified-center .dropdown-menu > li > a { color: #000000; float: inherit;height: 30px;padding-top: 5px;}
#bookroom .bookclassified-center .dropdown-menu > li {height: 30px;}
#bookroom .bookclassified-center .dropdown-menu { min-width: 95px;text-align: center; }
#bookroom .bookclassified-center .dropdown-menu .divider {height: 1px; margin: 0px;}
#bookroom .bookclassified-center a:hover {color: #000000;}
#bookroom .bookclassified-center .kinds {margin: 3px 15px 0px 15px;}
#bookroom .bookclassified-center .line{width: 1px;height: 14px; background-color: #80d0ee;float: left; margin: 7px 10px 0px 10px ;}
			
#bookroom .main {width: 1200px; margin: auto;}
#bookroom .upload {height: 45px; border-bottom: 4px solid #93E1FA; padding-top: 5px;}
#bookroom .upload p {font-size: 23px; text-align: center; font-weight: 600;}
			
/******书单列表******/
#bookroom .book-block {width: 50%; height: 250px; float: left; padding: 15px 15px 15px 0px;}
#bookroom .book-block img {float: left; margin-right: 15px; height: 220px;}
#bookroom .book-block .book-info-box {float: right; width: 420px;}
#bookroom .book-block .book-info-box .bookname {font-size: 20px; color: #0d99ca; margin-bottom: 3px;}
#bookroom .book-block .book-info-box .writer {font-size: 16px; color: #0d99ca;}
#bookroom .book-block .book-info-box .bookinfo {font-size: 14px;margin-top: 18px; margin-bottom: 18px; height: 107px;}
#bookroom .book-block .book-info-box .tips {font-size: 14px;padding: 3px 30px; background-color: #b8e7f6; margin-right: 10px; text-decoration: none; color: #000000;}
/******书单列表 @end******/
			
#bookroom .morebook {height: 65px; width: 100%;}
#bookroom .morebook p{text-align: center;}
#bookroom .morebook .x-line {height: 5px; width: 46%; background-color: #91e2fa; float: left; margin-top: 9px;}
#bookroom .morebook .more-btn{ height: 22px;width: 8%;background-color: #91e2fa; float: left; text-align: center;}
#bookroom .morebook .more-btn a {font-size: 14px; color: #FFFFFF; text-decoration: none; cursor: pointer;}
#bookroom .morebook .more-btn a:hover {color: #269ABC;}
			
/******推荐书板块******/
#bookroom .recomend-box {width: 100%;}
#bookroom .recomend-box .recomendread{width: 71%; margin-right: 3%; float: left;}
#bookroom .recomend-box .recomendread .title {border-bottom: 2px solid #91E2FA; width: 100%;}
#bookroom .recomend-box .recomendread .title p{border-bottom: 1px solid #000000; font-size: 20px;margin-bottom: 0px;font-weight: 600; height: 34px;}
#bookroom .recomend-box .recomendread .book-introduce {text-align: center;}
#bookroom .recomend-box .recomendread .book-introduce .bookname{font-size: 20px; color: #1096ce; margin-bottom: 0px; font-weight: 600;}
#bookroom .recomend-box .recomendread .book-introduce .writer{font-size: 14px; color: #1096ce;}
#bookroom .recomend-box .recomendread .book-introduce .bookinfo {font-size: 12px; text-align: left;}
#bookroom .recomend-box .recomendtop10{width: 26%; float: right;}
#bookroom .recomend-box .recomendtop10 .title {border-bottom: 2px solid #91E2FA; width: 100%; }
#bookroom .recomend-box .recomendtop10 .title p{border-bottom: 1px solid #000000; font-size: 20px;margin-bottom: 0px;text-align: center;font-weight: 600;height: 34px;}
#bookroom .recomend-box .recomendtop10 .ranklist {padding: 25px 15px 0px 5px;}
/******推荐书板块 @end******/
			
#bookroom .ranklist-block {width: 100%; border-bottom: 1px solid #f0f0f0;font-size: 14px; height: 37px; padding: 8px 0px 0px 0px;}
			
#bookroom .ranklist-block .ranknum {color: #000000; font-style: italic; background-color: #f1f1f1; padding: 2px 9px 2px 7px; text-decoration: none;}
#bookroom .ranklist-block .top3 {color: #FFFFFF;background-color: #cd0100;}
#bookroom .ranklist-block .top10 {padding: 2px 6px 2px 2px;}
#bookroom .ranklist-block .bookname {color: #000000; font-size: 14px; margin-left: 25px; cursor: pointer;}
/****热门作者榜、评分榜、热门排行榜***/
#bookroom .rank-box {width: 100%; margin-top: 60px;}
#bookroom .rank-box .title {font-size: 20px; color: #FFFFFF; width: 100%; height: 34px; text-align: center; background-color: #437a92; margin-bottom: 10px;}
#bookroom .rank-box .popular-writer{width: 18%; float: left; margin-right: 1.5%;}/****热门作者榜****/
#bookroom .rank-box .popular-writer .writername {color: #000000; font-size: 14px; text-decoration: none;}
#bookroom .rank-box .popular-writer .w-num {width: 10%;float: left;}
#bookroom .rank-box .popular-writer .w-name {width: 90%;float: left; text-align: center;}
			
#bookroom .rank-box .score{width: 29%; float: left; margin-right: 1.5%;}/****评分榜****/
#bookroom .rank-box .top-charts{width: 50%; float: left;}/****热门排行榜****/
#bookroom .rank-box .top-charts .title {width: 34%; float: left; cursor: pointer;}
#bookroom .rank-box .more-box {width: 100%; height: 30px; text-align: center; padding: 10px 0px 0px 0px;}
#bookroom .rank-box .more {font-size: 12px; text-decoration: none;color: #0e4da9; margin-left:30px;}
#bookroom .rank-box .more:hover {color: #2EBEFF;}
#bookroom .rank-box .top-charts .title:hover{background-color: #2ebeff;}
#bookroom .rank-box .top-charts .mooth{width: 22%; float: left;}
#bookroom .rank-box .top-charts .week{width: 22%; float: left;}
#bookroom .rank-box .top-charts .total{width: 22%; float: left;}
/****热门作者榜、评分榜、热门排行榜 @end***/
			
/*******底部导航条*******/
#bookroom .bottomnav {width: 100%; height: 222px; background-color: #2EBEFF; padding-top: 44px; margin-top: 50px;}
#bookroom .bottomnav .whiteline {width: 1200px; margin: auto; height: 2px; background-color: #FFFFFF; margin-bottom: 15px;}
#bookroom .bottomnav p {text-align: center; margin-bottom: 10px;}
#bookroom .bottomnav p a {text-decoration: none;color: #000000; font-size: 14px; margin-right: 20px;}
/*******底部导航条 @end*******/
