/****总体样式 *****/
img {vertical-align:top; border:0;page-break-inside:avoid;max-width:100% !important; }
html, body{  margin: 0; padding: 0; min-width: 100%; width:100%; min-height:100%; height: 100%;  font-size:100%; background: #FFFFFF; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100% }
/****总体样式@end*****/


#bookroom_readonline {font-family: "微软雅黑";}
			
/*******页面主体内容*******/
#bookroom_readonline .main {width: 1200px; margin: auto; min-height: 600px;}
#bookroom_readonline .book-box {width: 100%; margin-top: 30px; border: 1px solid #31B0D5; min-height:600px;}
#bookroom_readonline .book-box .head-info {height: 40px; padding-top:10px; padding-left: 30px; background-color: #31B0D5;}
#bookroom_readonline .book-box .head-info a{color: #FFFFFF;}
#bookroom_readonline .book-box .head-info span{color: #FFFFFF;}
#bookroom_readonline .title {font-size: 30px; font-weight: 600; text-align: center; color: #777777; padding: 20px 0px;    border-bottom: 1px dashed #31B0D5;}
#bookroom_readonline .article {padding:10px 30px; min-height: 700px;}
#bookroom_readonline .article p{text-indent:2em; font-size: 24px; line-height: 40px;}  
#bookroom_readonline .bottom-info {height: 60px; padding-top: 10px; text-align: center; width: 100%;}
#bookroom_readonline .bottom-info a{color: #31B0D5; font-size: 20px; text-decoration: none; font-weight: 600;}
#bookroom_readonline .bottom-info a:hover {color: #000000;}
/*******页面主体内容 @end*******/			
			
/*******底部导航条*******/
#bookroom_readonline .bottomnav {width: 100%; height: 222px; background-color: #2EBEFF; padding-top: 44px; margin-top: 50px;}
#bookroom_readonline .bottomnav .whiteline {width: 1200px; margin: auto; height: 2px; background-color: #FFFFFF; margin-bottom: 15px;}
#bookroom_readonline .bottomnav p {text-align: center; margin-bottom: 10px;}
#bookroom_readonline .bottomnav p a {text-decoration: none;color: #000000; font-size: 14px; margin-right: 20px;}
/*******底部导航条 @end*******/
