/****总体样式 *****/
img {vertical-align:top; border:0;page-break-inside:avoid;max-width:100% !important; }
html, body{  margin: 0; padding: 0; min-width: 100%; width:100%; min-height:100%; height: 100%;  font-size:100%; background: #FFFFFF; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100% }
/****总体样式@end*****/


#bookroom_readonline {font-family: "微软雅黑";}
#bookroom_readonline .header{height:35px; width:100%; border-bottom: 2px solid #93e1fa; padding: 5px 0px 0px 0px;}
#bookroom_readonline .header .header-center {margin: auto;width: 1200px;}
#bookroom_readonline .header a {font-size: 18px; color: #000000; margin-left: 60px; text-decoration: none;}
#bookroom_readonline .header a:hover{color: #93E1FA;}
#bookroom_readonline .header .frist {margin-left: 446px;}
#bookroom_readonline .header .login {margin-left: 250px;}
#bookroom_readonline .header-banner{height:85px; width:1200px; margin: auto;}
#bookroom_readonline .header-banner img{margin-top: 8px;}
			
/********搜索框********/
#bookroom_readonline .search-box {height: 100%;width:400px;float: right; padding: 25px 0px 0px 0px;}
#bookroom_readonline .search-box .input-group {width: 330px; float: left;}
#bookroom_readonline .search-box .input-group .form-control{border-radius: 0px;}
#bookroom_readonline .search-box .radio{height: 20px; margin-bottom: 0px; margin-top: 35px;}
#bookroom_readonline .search-box label{font-size: 14px; margin: 0px 15px 0px 5px; font-weight: 600;}
#bookroom_readonline .search-box .dropdown-menu {min-width: 95px;}
#bookroom_readonline .searchbtn {width: 70px; float: right;border-radius: 0px 4px 4px 0px; border-left: 0px;}
#bookroom_readonline .search-box .dropdown-menu .divider {height: 1px; margin: 0px;}
/********搜索框 @end********/
			
#bookroom_readonline .bookclassified {height: 37px; width: 100%; background: url(../img/nav_BKG.jpg)}
#bookroom_readonline .bookclassified-center {width: 1200px; margin: auto; padding: 5px 0px 0px 0px;}			
#bookroom_readonline .bookclassified-center a {color: #FFFFFF; text-decoration: none; float: left;}
#bookroom_readonline .bookclassified-center .dropdown-menu > li > a { color: #000000; float: inherit;height: 30px;padding-top: 5px;}
#bookroom_readonline .bookclassified-center .dropdown-menu > li {height: 30px;}
#bookroom_readonline .bookclassified-center .dropdown-menu { min-width: 95px;text-align: center; }
#bookroom_readonline .bookclassified-center .dropdown-menu .divider {height: 1px; margin: 0px;}
#bookroom_readonline .bookclassified-center a:hover {color: #000000;}
#bookroom_readonline .bookclassified-center .kinds {margin: 3px 15px 0px 15px;}
#bookroom_readonline .bookclassified-center .line{width: 1px;height: 14px; background-color: #80d0ee;float: left; margin: 7px 10px 0px 10px ;}
			
/*******页面主体内容*******/
#bookroom_readonline .main {width: 1200px; margin: auto; min-height: 600px;}
#bookroom_readonline .book-box {width: 100%; margin-top: 30px; border: 1px solid #31B0D5; min-height:600px;}
#bookroom_readonline .book-box .head-info {height: 40px; padding-top:10px; padding-left: 30px; background-color: #31B0D5;}
#bookroom_readonline .book-box .head-info a{color: #FFFFFF;}
#bookroom_readonline .book-box .head-info span{color: #FFFFFF;}
#bookroom_readonline .title {font-size: 30px; font-weight: 600; text-align: center; color: #777777; padding: 20px 0px;    border-bottom: 1px dashed #31B0D5;}
#bookroom_readonline .article {padding:10px 30px;}
#bookroom_readonline .article p{text-indent:2em; font-size: 24px; line-height: 40px;}  
#bookroom_readonline .bottom-info {height: 60px; padding-top: 10px; text-align: center; width: 100%;}
#bookroom_readonline .bottom-info a{color: #31B0D5; font-size: 20px; text-decoration: none; font-weight: 600;}
#bookroom_readonline .bottom-info a:hover {color: #000000;}
/*******页面主体内容 @end*******/			
			
/*******底部导航条*******/
#bookroom_readonline .bottomnav {width: 100%; height: 222px; background-color: #2EBEFF; padding-top: 44px; margin-top: 50px;}
#bookroom_readonline .bottomnav .whiteline {width: 1200px; margin: auto; height: 2px; background-color: #FFFFFF; margin-bottom: 15px;}
#bookroom_readonline .bottomnav p {text-align: center; margin-bottom: 10px;}
#bookroom_readonline .bottomnav p a {text-decoration: none;color: #000000; font-size: 14px; margin-right: 20px;}
/*******底部导航条 @end*******/
