/****分类列表****/
#article_classify{font-family: "微软雅黑";}
.classifiedbanner {width: 20%; float: left; padding-top: 30px;}
.classified-block {width: 100%; height: 36px; border-bottom: dashed 1px #e8e8e8; padding: 8px 10px 0px 10px;}
.total a{font-weight: 600;}
.classified-block a {color: #269ABC; font-size: 14px; text-decoration: none;}
.classified-block a:hover{color: #D43F3A}
.classified-block span {color: #000000; font-size: 14px;float: right;}
/****分类列表 @end****/

/**** 作者banner ****/
.banner {background: url(../img/banner.jpg) no-repeat; background-size: cover;}
.author-content {width: 1200px; margin: auto; padding: 10px 0; overflow: hidden;}
.author-left {    margin-left: 0px; min-width: 100px; width: 100px; text-align: center;padding-left: 0px}
.author-left > img {width: 80px;height: 80px; padding: 3px; border-radius: 5px; background-color: #fff;}
#author-name {display: block; text-align: center; color: #fff; cursor: pointer;word-break: break-all}
.author-achieve {color: #fff; font-size: 16px;}
.author-achieve .num {color: #ffcf0f; font-size: 110%; padding-right: 5px;}
.author-achieve .separator {padding: 0 5px;}
.author-intro {color: #fff; font-size: 14px;}
/**** 作者banner end ****/

/******** 主体内容 *******/
.main {width: 1200px; margin: auto; min-height: 600px;}

/********** 热门书籍 **********/
.main { overflow: hidden;}
.doc-hot > h2 {font-size: 16px; font-weight: 700; margin-top: 35px; margin-bottom: 10px;}
.doc-hot > ul {counter-reset: item;}
.doc-hot > ul a {color: #555; display: block; font-size: 14px; line-height: 30px; text-decoration: none; text-overflow:ellipsis; overflow: hidden; white-space: nowrap;}
.doc-hot > ul a:hover {color: #0d99ca;}
.doc-hot > ul a:before {counter-increment: item; content: counter(item); font-size: 120%; padding: 0 5px; margin-right: 10px;}
.doc-hot > ul > li:first-child > a:before {color: #fff; background-color: #5EBA9D;}
/********** 热门书籍 @end **********/
			
/********** 书本列表 **********/
.book-list .table {width: 100%; border-bottom: 1px solid #ddd; font-size: 14px;}
.book-list .table td{vertical-align: middle;}
.book-list .table tbody {text-align: center; }
.book-list .table .docname{width: 25%;}
.book-list .table .docinfo{width: 40%; }
.book-list .table .doctype{width: 10%;}
.book-list .table .uploadtime{width: 15%;}
.book-list .table .download{width: 10%;}
.book-list .table thead {text-align: center; font-weight: 600;}
.book-list .table tbody .docinfo{text-align: left; color: #999999;}
.book-list .table tbody .docname{text-align: left;}
.book-list .table tbody .docname div{float: right; line-height:52px;   overflow:hidden;  height: 52px; width:170px;padding: 0px 10px;text-overflow:ellipsis;white-space:nowrap;}
.book-list .table tbody .docname img {float: left;}
.book-list .table  tbody .uploadtime{color: #999;}

.book-list .paging {margin-top: 20px; width: 100%; height: 60px; text-align: center;}
.book-list .paging nav {margin-left: 43px;}
.pagination > li > .active, .pagination > li > span {color: #fff;background-color:#337ab7 ;}
.pagination > li > .active:hover, .pagination > li > span {color: #fff;background-color:#337ab7 ;}

.doc-list {background-color: #fff; padding-top: 20px; overflow: hidden;}
.doc-list > .doc-block:last-child {border-bottom: none;}
.doc-block .doc-info-box {float: left; width: auto;}
/********** 书本列表 @end **********/

/******** 主体内容 @end *******/