/****总体样式 *****/
html, body{margin: 0; padding: 0; min-width: 100%; width:100%; min-height:100%; height: 100%;}
body {font-family: "Microsoft YaHei";}
.wrap {min-height:100%; background-color: #eee; overflow: hidden;}
/****总体样式@end*****/

/******** 顶部导航 *******/

/*****新加最顶部导航条*****/
.header{height:46px; width:100%; border-bottom: 2px solid #93e1fa; background-color: #FFFFFF; }
.header .a-box {padding:10px 0px 0px 0px;float: left;}
.header .header-center {margin: auto;width: 1200px;}
.header .nav-a {font-size: 18px; color: #000000; margin-left: 60px; text-decoration: none;position:relative;}
.header .nav-a:hover{color: #93E1FA;}
.header .userbox {float: right; height: 58px; padding: 10px 20px; cursor: pointer;position:relative;}
.header .userbox:hover {background-color: #F0F0F0;}
.header .username{ margin-left: 0px; font-weight: 600; color:#0D99CA;font-size:16px; text-decoration: none; margin-right: 15px;}
.header .userimg{ margin-left: 0px; }
#usermenu {width: 120px; float: right; height: 46px;}
#usermenu .dropdown-toggle {width: 160px; height: 43px; border-radius: 0px; padding: 0px; border: 0px;}
#usermenu a {margin-left: 0px;position:relative;}
#usermenu .dropdown-menu > li {height: 30px;}
#usermenu .dropdown-menu .divider {height: 1px; margin: 0px;}
#usermenu .dropdown-menu > li > a { color: #000000; float: inherit;height: 30px;padding-top: 5px;}
#usermenu .dropdown-menu > li > a:hover {background-color: #2EBEFF; color: #FFFFFF;}

.header .frist {margin-left:446px;}
.header .login {margin-left: 240px;}
.header-banner{height:85px; width:1200px; margin: auto;}
.header-banner img{margin-top: 8px;}
.header .uploadbtn {margin-left: 10px;}
#usermenu .dropdown-menu {z-index: 1040;}
/*****新加最顶部导航条 end*****/	
			
.navbar {background-color: #fff; box-shadow: 0 0 5px #888; border-bottom: 1px solid #bebebe; padding-left: 30px; margin-top: 46px;}
.user-block {float: right;}
.user-block > .btn {background-color: transparent; width: 160px;}
.username {color: #333;}
.username:hover {text-decoration: none;}
.userimg > img {width: 40px;}

.logoimg {width: 120px; margin-top: 8px; margin-left: 10px; float: left;}
/********** 搜索 **********/
.search-top {overflow: hidden;}
#search-form {width: 640px; float: left; margin-top: 18px; margin-left: 10px;}
#search-word {width: 400px; height: 30px; font: 16px arial; padding-left: 10px; float: left; border: 1px solid rgba(4,0,0,.15);}
#search-word:hover {border-color: #999;}
#search-word:focus {border-color: #38f;}
#search-submit {cursor: pointer; width: 100px; height: 30px; padding: 0; margin: 0; border: 0; background-color: #38f; font-size: 16px; color: white; float: left;}
.search-relative {margin-top: 10px; line-height: 30px; padding-left: 8px; overflow: hidden;}
.search-relative-left {float: left; font-size: 14px; padding-left: 20px; background: url(../img/icon-search.png) no-repeat 3px;}
.search-relative > ul > li {float: left; margin-left: 20px;}
/********** 搜索 @end **********/

/******** 顶部导航 @end *******/

/******** 主体内容 *******/
.main {margin: auto; margin-top: 120px; padding: 0 45px;}
.home_search {margin-top: 100px; text-align: center;}
.img-list {list-style: none; padding: 0; overflow: hidden; padding-top: 20px;}
/* 页码 */
.img-list > h2 {clear: both; font-size: 18px; margin: 0; padding-left: 10px; line-height: 36px;}
.img-item:first-child {display: none;}
.img-item {float: left; height: 180px; overflow: hidden; margin-left: 8px; margin-top: 8px; overflow: hidden; position: relative;}
.img-item img {height: 100%;}
.img-label {position: absolute; bottom: -64px; width: 100%; height: 64px; padding-top: 22px; padding-left: 15px; padding-right: 10px;
	font-size: 12px; line-height: 20px; color: #fff; text-shadow: 1px 1px #000; background: url(../img/img-label-shadow.png) repeat-x;
	background-size: cover; -webkit-transition: bottom .4s; -o-transition: bottom .4s; transition: bottom .4s;}
.img-item:hover .img-label {bottom: 0;}
.img-title, .img-size {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
/******** 主体内容 @end*******/