
*{margin:0;padding:0;list-style-type:none;}
a:link,a:visited{text-decoration:none;}


/* mallCategory */

.itemtit1{background-position:0 0;}
.itemtit2{background-position:0 -45px;}
.itemtit3{background-position:0 -95px;}
.itemtit4{background-position:0 -144px;}
.itemtit5{background-position:0 -192px;}
.itemtit6{background-position:0 -241px;}
.itemtit7{background-position:0 -291px;}
.itemtit8{background-position:0 -339px;}
.itemtit9{background-position:0 -389px;}
.itemtit10{background-position:0 -438px;}
.itemtit11{background-position:0 -486px;}
.mallCategory{position:relative;width:100%;background:#fff;}
.mallCategory .border{width:100px; margin-left:140px;height:41px;border:dashed 1px #F0F0F0;position:absolute;top:370px;z-index:0;display:none;border-right:solid 2px #FFFFFF; }
.mallCategory .border .mask-top{width:181px;height:41px;border-right:solid 0px #FFFFFF; }
.mallCategory .border .mask-bottom{width:181px;height:0px;border-right:solid 2px #FFF;}
.catList h2{height:29px;overflow:hidden;background-color:#FFFFFF;}
.catList h2 a{display:block;padding:3px 0 0px 10px;font-size:16px; font-weight: 600;}
.catList h2 a:link,.catList h2 a:visited{color:#269ABC;text-decoration:none; }
.catList h2 a:hover,.catList h2 a:active{color:#CD0100;text-decoration:none;}
.catList h3{padding-left:10px;height:40px;background-color:#fffff;}

.catList h3 span{float:right;display:block;margin:16px 10px 0 0;width:5px;height:7px;background:url(../img/sprite-700.png) no-repeat scroll 0 -621px transparent;}
.catList h3 a{overflow:hidden;height:40px;font-size:14px;line-height:40px;}
.catList li{overflow:hidden;padding-left:1px;border-color:#FFF #FFF #e5e5e5 #FFF;border-style:solid;border-width:1px 0 1px 0;border-bottom:dashed 1px #F0F0F0;}
.catList .itemCol{overflow:hidden;padding:7px 0 0 20px;width:164px;height:20px;_zoom:1;}
.catList p a{margin-right:3px;margin-right:0;color:#666;}
.catList p a:hover{color:#666;}
.cat-subcategory{position:absolute;top:29px;left:239px;z-index:10;width:220px;border:dashed 1px #F0F0F0;;background:#fff;display:none;opacity:0.98;filter:alpha(opacity=98);}
.shadow{position:relative;}
.shadow a,.shadow a:hover{color:#666;}

.shadow-left{float:left;display:inline;width:100%;min-height:100px;_height:100px;}
.shadow-left li{float:left;margin-top:12px;padding-bottom:10px;width:100%;line-height:24px;}
.shadow-left li a{display:inline-block;margin-right:19px;white-space:nowrap;color: #0D99CA; font-size: 14px;}
.shadow-left li a:hover{color: #CD0100;}

.shadow-right dd{overflow:hidden;width:164px;}
.entity-main{overflow:hidden;padding:0 0 0 29px;height:100%;}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0px; margin-bottom: 0px; 
}