.main {width: 1200px; margin: auto; min-height: 600px;}
			
/*******主体内容*******/
#weiyueindex .main {width: 1200px; margin: auto; min-height:600px;}
#weiyueindex .contribution-writer .title{width: 100%; border-bottom: 2px solid #15a9e0; font-size:26px; color: #20abf7; margin-bottom: 30px;}
#weiyueindex .recomend-box .title {width: 100%; border-bottom: 2px solid #15a9e0; font-size:26px; color: #20abf7; margin-bottom: 10px;}
#weiyueindex .imagebanner .title {width: 100%; border-bottom: 2px solid #15a9e0; font-size:26px; color: #20abf7; margin-bottom: 10px;}

/****顶部轮播图****/
.flexslider {margin: 0px auto 20px;position: relative;width: 100%;height: 300px;overflow: hidden;zoom: 1;}
.flexslider .slides li {width: 100%;height: 100%;}
.flex-direction-nav a {
	width: 70px;
	height: 70px;
	line-height: 99em;
	overflow: hidden;
	margin: -35px 0 0;
	display: block;
	background: url(../img/ad_ctr.png) no-repeat;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .3s ease;
	border-radius: 35px;
}

.flex-direction-nav .flex-next {background-position: 0 -70px;right: 0;}
.flex-direction-nav .flex-prev {left: 0;}
.flexslider:hover .flex-next {opacity: 0.8;filter: alpha(opacity=25);}
.flexslider:hover .flex-prev {opacity: 0.8;filter: alpha(opacity=25);}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {opacity: 1;filter: alpha(opacity=50);}
.flex-control-nav {width: 100%;position: absolute;bottom: 10px;text-align: center;}
.flex-control-nav li {margin: 0 2px;display: inline-block;zoom: 1;*display: inline;}
.flex-control-paging li a {
	background: url(../img/dot.png) no-repeat 0 -16px;
	display: block;
	height: 16px;
	overflow: hidden;
	text-indent: -99em;
	width: 16px;
	cursor: pointer;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li.active a {background-position: 0 0;}
.flexslider .slides a img {width: 100%;height: 298px;display: block;}
/****顶部轮播图 @end****/

/****书本封面轮换样式 *****/
mark, rp, rt, ruby, summary, time{ display: inline }
 ul {list-style: none;padding:0px;margin:0px;outline: 0;}
img {vertical-align:top; border:0;page-break-inside:avoid;max-width:100% !important; }
a:hover,a:active{outline:0}
a,a:visited{text-decoration:none}
a:hover,a:focus{text-decoration:underline}
html, body{  margin: 0; padding: 0; min-width: 100%; width:100%; min-height:100%; height: 100%;  font-size:100%; background: #FFFFFF; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100% }

/*===== gallery begin =====*/
#gallery {margin:0 auto;height:290px;overflow:hidden; z-index:1; padding-top:0px;}
.container_image{margin:0 auto;position:relative;width:100%;font-size:.8125em;}	
/*===== gallery end =====*/
.roundabout-holder{width:600px;height:290px;margin:0 auto;}
.roundabout-moveable-item {width: 180px;height: 260px;cursor: pointer;}/*边框以及圆角效果 border:3px solid #ccc;border:3px solid rgba(0, 0, 0, 0.08);border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;*/
.roundabout-moveable-item img{width:100%;}
.roundabout-in-focus {border:3px solid rgba(0, 0, 0, 0.2);}/*边框以及圆角效果 */
/****书本封面轮换样式 @end*****/


/******推荐书板块******/
#weiyueindex .recomend-box {width: 100%; margin-top: 30px; height: 450px;}
#weiyueindex .recomend-box .recomendread{width: 71%; margin-right: 3%; float: left;}
#weiyueindex .recomend-box .recomendtitle { width: 100%;}
#weiyueindex .recomend-box .recomendtitle p{border-bottom: dashed 1px #999999; font-size: 20px;margin-bottom: 0px;font-weight: 600; height: 34px;}
#weiyueindex .recomend-box .recomendread .book-introduce {text-align: center;}
#weiyueindex .recomend-box .recomendread .book-introduce .bookname{font-size: 20px; color: #1096ce; margin-bottom: 0px; font-weight: 600;}
#weiyueindex .recomend-box .recomendread .book-introduce .writer{font-size: 14px; color: #1096ce;}
#weiyueindex .recomend-box .recomendread .book-introduce .bookinfo {font-size: 12px; text-align:center;}
#weiyueindex .recomend-box .recomendtop10{width: 26%; float: right;}
#weiyueindex .recomend-box .recomendtop10 .title {border-bottom: 2px solid #91E2FA; width: 100%; }
#weiyueindex .recomend-box .recomendtop10 .title p{border-bottom: 1px solid #000000; font-size: 20px;margin-bottom: 0px;text-align: center;font-weight: 600;height: 34px;}
#weiyueindex .recomend-box .recomendtop10 .ranklist {padding: 10px 15px 0px 5px;}
#weiyueindex .ranklist-block {width: 100%; border-bottom: 1px solid #f0f0f0;font-size: 14px; height: 37px; padding: 8px 0px 0px 0px;}
			
#weiyueindex .ranklist-block .ranknum {color: #000000; font-style: italic; background-color: #f1f1f1; padding: 2px 9px 2px 7px; text-decoration: none;}
#weiyueindex .ranklist-block .top3 {color: #FFFFFF;background-color: #cd0100;}
#weiyueindex .ranklist-block .top10 {padding: 2px 6px 2px 2px;}
#weiyueindex .ranklist-block .bookname {color: #000000; font-size: 14px; margin-left: 25px; cursor: pointer;}
/******推荐书板块 @end******/
			
/***贡献作者榜**/
#weiyueindex .contribution-writer{width: 100%;margin-top: 30px;}
#weiyueindex .contribution-writer .writerblock {width: 23.5%; height: 200px;float: left; margin-left: 2%;}
#weiyueindex .contribution-writer .frist { margin-left: 0%;}
#weiyueindex .writerblock .userinfo-box {width: 100%; height: 64px;}
#weiyueindex .writerblock .userinfo-box .userimg{height: 64px; float: left; margin-right: 10px;}
#weiyueindex .writerblock .userinfo-box img {height: 100%; border-radius: 5px;}
#weiyueindex .writerblock .userinfo-box .userinfo {float: left; height: 64px;width: 70%; padding-top: 5px;}
#weiyueindex .writerblock .userinfo-box .userinfo .name {font-size: 18px; margin-bottom: 18px; font-weight: 600;}
#weiyueindex .writerblock .userinfo-box .userinfo .articlenum {font-size: 14px; margin-bottom: 0px; color: #C9302C; float: left;}
#weiyueindex .writerblock .userinfo-box .userinfo .articlenumw {font-size: 14px; margin-bottom: 0px; color: #777; float: left;}			
#weiyueindex .writerblock .articlelist {width: 100%; height: 100px; padding: 20px 0px;}
#weiyueindex .writerblock .articlelist .pa {margin-bottom: 5px; font-size: 14px; width: 100%; height: 30px;}
#weiyueindex .writerblock .articlelist .pa .ca{margin-bottom: 5px;width:180px;display: block; font-size: 14px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden; float: left; }
#weiyueindex .writerblock .articlelist a {color: #000000; text-decoration: none;}
#weiyueindex .writerblock .articlelist a:hover {color:#2EBEFF}
#weiyueindex .writerblock .articlelist .score {float: right; color: #777; font-weight:bold}
/***贡献作者榜 @end**/

/***图库板块***/
#weiyueindex .imagebanner{width: 100%;margin-top: 30px;}
#weiyueindex .imagebanner .imagebox{width: 100%;margin-top: 20px; height: 300px;}
#weiyueindex .imagebanner .imagebg {height: 180px; width: 18.4%; float: left; margin-right: 2%; margin-bottom: 20px;}
#weiyueindex .imagebanner .final {margin-right: 0%;}
#weiyueindex .imagebanner .imagebg .imageinfo {color: #FFFFFF; height: 40px;width: 100%; margin-top: 140px; background:rgba(0, 0, 0, 0.4)!important;filter:Alpha(opacity=60); background:#fff; }
/*#weiyueindex .imagebanner .imagebg:hover {border-radius: 20px 20px 0px 0px;}*/
#weiyueindex .imagebanner .imagebg {-webkit-transition: transform .3s; -moz-transition: transform .3s; -o-transition: transform .3s; -webkit-perspective: 1000;}
#weiyueindex .imagebanner .imagebg:hover  {-webkit-transform: scale(1.05); -moz-transform: scale(1.05); -o-transform: scale(1.05); transform: scale(1.05);}
#weiyueindex .imagebanner .imagebg .imageinfo p {color: #FFFFFF;position: relative; margin-left: 15px; padding-top: 10px;}
/***图库板块 @end***/

/*******主体内容 @end*******/

/****图标文件****/
.ic-dir, .ic-doc, .ic-docx, .ic-dps, .ic-epub, .ic-et, .ic-pdf, .ic-pot, .ic-pps, .ic-ppt, .ic-pptx, .ic-rtf, .ic-txt, .ic-vsd, .ic-wps, .ic-xls, .ic-xlsx, .ic-album, .ic-wealth, .ic-ok, .ic-exp {background-image: url(../img/pkg.png);}
.ic-doc, .ic-docx {background-position: -193px -991px;}
.ic-doc, .ic-docx { background-repeat: no-repeat;}
.ic-ppt, .ic-pptx { background-position: -193px -1138px;}
.ic-ppt, .ic-pptx { background-repeat: no-repeat;}
.ic-txt {background-position: -193px -1180px;}
.ic-txt { background-repeat: no-repeat;}
.ic-pdf {background-position: -193px -1075px;}
.ic-pdf { background-repeat: no-repeat;}
.ic-xls, .ic-xlsx { background-position: -193px -1243px;}
.ic-xls, .ic-xlsx {background-repeat: no-repeat;}
.ic {
	top: 2px;
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0;
    vertical-align: -2px;
    font-size: 0;
    line-height: 9999em;
    overflow: hidden;
    position: relative;
    width: 16px;
    height: 16px;
    float: left;
}	
/****图标文件 @end****/


