.ranking-list {
	border: 1px solid #edf1f2;
	width: 100%;
	height: 270px;
	margin-top:30px;
}

.ranking-list-title {
	background-color: #edf1f2;
	height: 45px;
	width: 100%;
}

.ranking-list-title span {
	margin: 0px 0px 0px 0px;
}

.ranking-list-title h2 {
	font-size: 20px;
	color: #8c8c8c;
	font-weight: 500;
	height: 45px;
	width: 100%;
	padding: 10px 17px;
}

.ranking-list-title h2 p {
	display: inline-block;
	margin: 0px;
}

.ranking-list-table tr {
	height: 45px;
	padding:0px;
}

.ranking-list-table tr td img{
	margin:0px 0px 0px 20px;
}

.ranking-list-table tr a:hover {
	color: #f01400;
}
.ranking-list-table tr p.NO1{color:#DE9C07;}
.ranking-list-table tr p.NO2{color:#7A7E7F;}
.ranking-list-table tr p.NO3{color:#B0432C;}
.ranking-list-table tr .king{
	background-repeat:no-repeat;
}
.ranking-list-table tr .silver{
	background-repeat:no-repeat;
}
.ranking-list-table tr .copper{
	background-repeat:no-repeat;
}
.ranking-list-table tr .who{
	margin-left: 25px;
}
.ranking-list-table tr .more{
	margin-left: 25px;
}
.ranking-list-table tr p {
	font-size: 18px;
    float:right;
	margin-top:6px;
	cursor:pointer;
}
.ranking-list-table tr a {
	font-size: 18px;
	text-decoration: none;
	margin-left: 0px;
	width:100%;
}