ul, ol {
	padding: 0;
	margin: 0 0 0 0;
}
	
.navbar-form {
	padding: 10px 0px; 
}
	
#main {
	margin:40px 0px 0px 0px;
}
		
.js-course-lists {
	width:1130px;
	margin:auto;
}
a:hover, a:focus {
    color: #23527c;
    text-decoration: none;
}
.course-tool-bar .tool-left a:hover{
    color: #d9534f;
}